body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#009933;
  text-align:left;
}
#u805 {
  position:absolute;
  left:9px;
  top:11px;
  width:320px;
  height:42px;
  font-size:18px;
  color:#009933;
  text-align:left;
}
#u806 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009933;
}
#u808 {
  position:absolute;
  left:30px;
  top:75px;
  width:891px;
  height:51px;
  font-size:20px;
  color:#009933;
}
#u809 {
  position:absolute;
  left:2px;
  top:14px;
  width:887px;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u810 {
  position:absolute;
  left:60px;
  top:150px;
  width:287px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u811 {
  position:absolute;
  left:2px;
  top:6px;
  width:283px;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  position:absolute;
  left:60px;
  top:192px;
  width:107px;
  height:25px;
}
#u813 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u814 {
  position:absolute;
  left:386px;
  top:150px;
  width:108px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u815 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:268px;
  top:192px;
  width:61px;
  height:25px;
}
#u817 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:201px;
  top:192px;
  width:57px;
  height:25px;
}
#u819 {
  position:absolute;
  left:2px;
  top:5px;
  width:53px;
  word-wrap:break-word;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:60px;
  top:234px;
  width:837px;
  height:310px;
}
#u822 {
  position:absolute;
  left:2px;
  top:147px;
  width:833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:192px;
  top:500px;
  width:66px;
  height:25px;
}
#u824 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u825 {
  position:absolute;
  left:75px;
  top:282px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u826 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u827 {
  position:absolute;
  left:75px;
  top:318px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u828 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u829 {
  position:absolute;
  left:130px;
  top:282px;
  width:320px;
  height:26px;
  text-align:left;
}
#u830 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u831 {
  position:absolute;
  left:130px;
  top:318px;
  width:737px;
  height:164px;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u833 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u834 {
  position:absolute;
  left:64px;
  top:0px;
  width:608px;
  height:30px;
}
#u835 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u836 {
  position:absolute;
  left:672px;
  top:0px;
  width:60px;
  height:30px;
}
#u837 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u838 {
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u839 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u840 {
  position:absolute;
  left:64px;
  top:30px;
  width:608px;
  height:30px;
  text-align:left;
}
#u841 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u842 {
  position:absolute;
  left:672px;
  top:30px;
  width:60px;
  height:30px;
}
#u843 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u844 {
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:33px;
}
#u845 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u846 {
  position:absolute;
  left:64px;
  top:60px;
  width:608px;
  height:33px;
  text-align:left;
}
#u847 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u848 {
  position:absolute;
  left:672px;
  top:60px;
  width:60px;
  height:33px;
}
#u849 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u850 {
  position:absolute;
  left:0px;
  top:93px;
  width:64px;
  height:33px;
}
#u851 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u852 {
  position:absolute;
  left:64px;
  top:93px;
  width:608px;
  height:33px;
  text-align:left;
}
#u853 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u854 {
  position:absolute;
  left:672px;
  top:93px;
  width:60px;
  height:33px;
}
#u855 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u856 {
  position:absolute;
  left:0px;
  top:126px;
  width:64px;
  height:33px;
}
#u857 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u858 {
  position:absolute;
  left:64px;
  top:126px;
  width:608px;
  height:33px;
  text-align:left;
}
#u859 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u860 {
  position:absolute;
  left:672px;
  top:126px;
  width:60px;
  height:33px;
}
#u861 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u862 {
  position:absolute;
  left:75px;
  top:243px;
  width:237px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u863 {
  position:absolute;
  left:2px;
  top:4px;
  width:233px;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u864 {
  position:absolute;
  left:336px;
  top:500px;
  width:222px;
  height:25px;
  text-align:left;
}
#u865 {
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:224px;
  height:21px;
}
#u866p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:216px;
  height:1px;
}
#u866p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:226px;
  height:21px;
}
#u866p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u866p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u866p002 {
  position:absolute;
  left:199px;
  top:-11px;
  width:22px;
  height:22px;
}
#u866p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u866.compound {
  width:0px;
  height:0px;
}
#u866 {
  position:absolute;
  left:260px;
  top:257px;
  width:214px;
  height:1px;
}
#u867 {
  position:absolute;
  left:2px;
  top:-8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u868 {
  position:absolute;
  left:474px;
  top:243px;
  width:376px;
  height:29px;
}
#u869 {
  position:absolute;
  left:10px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:45px;
  height:21px;
}
#u870p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:37px;
  height:1px;
}
#u870p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:47px;
  height:21px;
}
#u870p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u870p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u870p002 {
  position:absolute;
  left:20px;
  top:-11px;
  width:22px;
  height:22px;
}
#u870p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u870.compound {
  width:0px;
  height:0px;
}
#u870 {
  position:absolute;
  left:450px;
  top:295px;
  width:35px;
  height:1px;
}
#u871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u872 {
  position:absolute;
  left:485px;
  top:282px;
  width:397px;
  height:29px;
}
#u873 {
  position:absolute;
  left:10px;
  top:10px;
  width:377px;
  word-wrap:break-word;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:60px;
  top:628px;
  width:837px;
  height:310px;
}
#u876 {
  position:absolute;
  left:2px;
  top:147px;
  width:833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:192px;
  top:894px;
  width:66px;
  height:25px;
}
#u878 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u879 {
  position:absolute;
  left:75px;
  top:676px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u880 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u881 {
  position:absolute;
  left:75px;
  top:712px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u882 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u883 {
  position:absolute;
  left:130px;
  top:676px;
  width:320px;
  height:26px;
  text-align:left;
}
#u884 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u885 {
  position:absolute;
  left:130px;
  top:712px;
  width:737px;
  height:164px;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u887 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u888 {
  position:absolute;
  left:64px;
  top:0px;
  width:608px;
  height:30px;
}
#u889 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u890 {
  position:absolute;
  left:672px;
  top:0px;
  width:60px;
  height:30px;
}
#u891 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u892 {
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u893 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u894 {
  position:absolute;
  left:64px;
  top:30px;
  width:608px;
  height:30px;
  text-align:left;
}
#u895 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u896 {
  position:absolute;
  left:672px;
  top:30px;
  width:60px;
  height:30px;
}
#u897 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u898 {
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:33px;
}
#u899 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u900 {
  position:absolute;
  left:64px;
  top:60px;
  width:608px;
  height:33px;
  text-align:left;
}
#u901 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u902 {
  position:absolute;
  left:672px;
  top:60px;
  width:60px;
  height:33px;
}
#u903 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u904 {
  position:absolute;
  left:0px;
  top:93px;
  width:64px;
  height:33px;
}
#u905 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u906 {
  position:absolute;
  left:64px;
  top:93px;
  width:608px;
  height:33px;
  text-align:left;
}
#u907 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u908 {
  position:absolute;
  left:672px;
  top:93px;
  width:60px;
  height:33px;
}
#u909 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u910 {
  position:absolute;
  left:0px;
  top:126px;
  width:64px;
  height:33px;
}
#u911 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u912 {
  position:absolute;
  left:64px;
  top:126px;
  width:608px;
  height:33px;
  text-align:left;
}
#u913 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u914 {
  position:absolute;
  left:672px;
  top:126px;
  width:60px;
  height:33px;
}
#u915 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u916 {
  position:absolute;
  left:75px;
  top:637px;
  width:237px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u917 {
  position:absolute;
  left:2px;
  top:4px;
  width:233px;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u918 {
  position:absolute;
  left:336px;
  top:894px;
  width:222px;
  height:25px;
  text-align:left;
}
#u919 {
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  word-wrap:break-word;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  position:absolute;
  left:60px;
  top:963px;
  width:837px;
  height:310px;
}
#u922 {
  position:absolute;
  left:2px;
  top:147px;
  width:833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:192px;
  top:1229px;
  width:66px;
  height:25px;
}
#u924 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u925 {
  position:absolute;
  left:75px;
  top:1011px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u926 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u927 {
  position:absolute;
  left:75px;
  top:1047px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u928 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u929 {
  position:absolute;
  left:130px;
  top:1011px;
  width:320px;
  height:26px;
  text-align:left;
}
#u930 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:130px;
  top:1047px;
  width:737px;
  height:164px;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u933 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u934 {
  position:absolute;
  left:64px;
  top:0px;
  width:608px;
  height:30px;
}
#u935 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u936 {
  position:absolute;
  left:672px;
  top:0px;
  width:60px;
  height:30px;
}
#u937 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u938 {
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u939 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u940 {
  position:absolute;
  left:64px;
  top:30px;
  width:608px;
  height:30px;
  text-align:left;
}
#u941 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u942 {
  position:absolute;
  left:672px;
  top:30px;
  width:60px;
  height:30px;
}
#u943 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u944 {
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:33px;
}
#u945 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u946 {
  position:absolute;
  left:64px;
  top:60px;
  width:608px;
  height:33px;
  text-align:left;
}
#u947 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u948 {
  position:absolute;
  left:672px;
  top:60px;
  width:60px;
  height:33px;
}
#u949 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u950 {
  position:absolute;
  left:0px;
  top:93px;
  width:64px;
  height:33px;
}
#u951 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u952 {
  position:absolute;
  left:64px;
  top:93px;
  width:608px;
  height:33px;
  text-align:left;
}
#u953 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u954 {
  position:absolute;
  left:672px;
  top:93px;
  width:60px;
  height:33px;
}
#u955 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u956 {
  position:absolute;
  left:0px;
  top:126px;
  width:64px;
  height:33px;
}
#u957 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u958 {
  position:absolute;
  left:64px;
  top:126px;
  width:608px;
  height:33px;
  text-align:left;
}
#u959 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u960 {
  position:absolute;
  left:672px;
  top:126px;
  width:60px;
  height:33px;
}
#u961 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u962 {
  position:absolute;
  left:75px;
  top:972px;
  width:237px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u963 {
  position:absolute;
  left:2px;
  top:4px;
  width:233px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u964 {
  position:absolute;
  left:336px;
  top:1229px;
  width:222px;
  height:25px;
  text-align:left;
}
#u965 {
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:60px;
  top:1305px;
  width:837px;
  height:310px;
}
#u968 {
  position:absolute;
  left:2px;
  top:147px;
  width:833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  position:absolute;
  left:192px;
  top:1571px;
  width:66px;
  height:25px;
}
#u970 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u971 {
  position:absolute;
  left:75px;
  top:1353px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u972 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u973 {
  position:absolute;
  left:75px;
  top:1389px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u974 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u975 {
  position:absolute;
  left:130px;
  top:1353px;
  width:320px;
  height:26px;
  text-align:left;
}
#u976 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u977 {
  position:absolute;
  left:130px;
  top:1389px;
  width:737px;
  height:164px;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u979 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u980 {
  position:absolute;
  left:64px;
  top:0px;
  width:608px;
  height:30px;
}
#u981 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u982 {
  position:absolute;
  left:672px;
  top:0px;
  width:60px;
  height:30px;
}
#u983 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u984 {
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u985 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u986 {
  position:absolute;
  left:64px;
  top:30px;
  width:608px;
  height:30px;
  text-align:left;
}
#u987 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u988 {
  position:absolute;
  left:672px;
  top:30px;
  width:60px;
  height:30px;
}
#u989 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u990 {
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:33px;
}
#u991 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u992 {
  position:absolute;
  left:64px;
  top:60px;
  width:608px;
  height:33px;
  text-align:left;
}
#u993 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u994 {
  position:absolute;
  left:672px;
  top:60px;
  width:60px;
  height:33px;
}
#u995 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u996 {
  position:absolute;
  left:0px;
  top:93px;
  width:64px;
  height:33px;
}
#u997 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u998 {
  position:absolute;
  left:64px;
  top:93px;
  width:608px;
  height:33px;
  text-align:left;
}
#u999 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u1000 {
  position:absolute;
  left:672px;
  top:93px;
  width:60px;
  height:33px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:126px;
  width:64px;
  height:33px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u1004 {
  position:absolute;
  left:64px;
  top:126px;
  width:608px;
  height:33px;
  text-align:left;
}
#u1005 {
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u1006 {
  position:absolute;
  left:672px;
  top:126px;
  width:60px;
  height:33px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u1008 {
  position:absolute;
  left:75px;
  top:1314px;
  width:237px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u1009 {
  position:absolute;
  left:2px;
  top:4px;
  width:233px;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1010 {
  position:absolute;
  left:336px;
  top:1571px;
  width:222px;
  height:25px;
  text-align:left;
}
#u1011 {
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:224px;
  height:21px;
}
#u1012p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:216px;
  height:1px;
}
#u1012p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:226px;
  height:21px;
}
#u1012p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1012p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1012p002 {
  position:absolute;
  left:199px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1012p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1012.compound {
  width:0px;
  height:0px;
}
#u1012 {
  position:absolute;
  left:329px;
  top:202px;
  width:214px;
  height:1px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1014 {
  position:absolute;
  left:543px;
  top:136px;
  width:339px;
  height:88px;
}
#u1015 {
  position:absolute;
  left:10px;
  top:10px;
  width:319px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:38px;
}
#u1016p000 {
  position:absolute;
  left:-14px;
  top:13px;
  width:29px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1016p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:49px;
  height:12px;
}
#u1016p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u1016p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u1016p002 {
  position:absolute;
  left:-11px;
  top:13px;
  width:22px;
  height:22px;
}
#u1016p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u1016.compound {
  width:0px;
  height:0px;
}
#u1016 {
  position:absolute;
  left:223px;
  top:525px;
  width:1px;
  height:28px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1018 {
  position:absolute;
  left:75px;
  top:551px;
  width:514px;
  height:67px;
}
#u1019 {
  position:absolute;
  left:10px;
  top:10px;
  width:494px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:48px;
}
#u1020p000 {
  position:absolute;
  left:-19px;
  top:18px;
  width:39px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1020p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:59px;
  height:12px;
}
#u1020p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u1020p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u1020p002 {
  position:absolute;
  left:-11px;
  top:23px;
  width:22px;
  height:22px;
}
#u1020p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u1020.compound {
  width:0px;
  height:0px;
}
#u1020 {
  position:absolute;
  left:553px;
  top:1615px;
  width:1px;
  height:38px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#009933;
}
#u1022 {
  position:absolute;
  left:436px;
  top:1653px;
  width:236px;
  height:33px;
  font-size:16px;
  color:#009933;
}
#u1023 {
  position:absolute;
  left:10px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:1446px;
}
#u1024p000 {
  position:absolute;
  left:-718px;
  top:717px;
  width:1437px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1024p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:1457px;
  height:12px;
}
#u1024p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u1024p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u1024p002 {
  position:absolute;
  left:-11px;
  top:1421px;
  width:22px;
  height:22px;
}
#u1024p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u1024.compound {
  width:0px;
  height:0px;
}
#u1024 {
  position:absolute;
  left:75px;
  top:217px;
  width:1px;
  height:1436px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:710px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#009933;
}
#u1026 {
  position:absolute;
  left:60px;
  top:1653px;
  width:225px;
  height:33px;
  font-size:16px;
  color:#009933;
}
#u1027 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
